* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
  }

main {
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 10px;
    flex-direction: column; 
}

.banner {
    position: relative; 
    padding: 100px;
    background-image: url('../images/Fond.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Dancing Script", serif;
    font-size: 4em;
    color: #ffffff;
    text-align: center;
    margin: 0; 
    letter-spacing: 2px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taille {
    position: relative;
    width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    padding: 5px;
    color: #ce8c36;
    font-size: 2em;
}

.color{
    border: 1px solid #debb7c;
}

[id="musicList"]{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: center;
    padding: 10px;
    max-width: 1024px;
}

.titlemusique{
    font-size: 1.5em;
}

section {
    background-color: #f7f7f7;
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: block;
}

.music-container {
    position: relative;
    margin: 0;
    width: 300px;
    height: 300px;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: block;
}

.music-image {
    width : 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    transform: translate(-50%, -50%) scale(1.1); 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.music-container:hover .play-button {
    display: flex;
}

.music-info {
    display: flex;
    padding: 10px;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: space-between;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px; 
    height: 44px;
    background-color: #3498db; 
    color: #f7f7f7;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%; 
    cursor: pointer; 
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #45a049; 
    transform: scale(1.2); 
    color: #f7f7f7; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style du pop-up */
#popup {
    width: 420px;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Pour Chrome, Safari */
    -moz-transform: translate(-50%, -50%);    /* Pour Firefox */
    transform: translate(-50%, -50%);
    overflow: hidden;
    flex-direction: column;
}
  
.popup-content {
    padding: 15px;
    font-size: 16px;
    color: #333333;
    line-height: 1.7;
}
  
.close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    color: #1E2139;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #FF6347;
}

#popupTitle {
    font-size: 28px;
    font-weight: bold;
    color: #1E2139;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    display: inline-block;
}

#popupArtist, #popupDate, #popupFilm {
    font-size: 18px;
    color: #555555;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

#popupExplication {
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
    padding-bottom: 10px; 
}

audio {
    width: 100%;
}

#popupLink a {
    color: #1E2139;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

#popupLink a:hover {
    color: #FF6347;
    text-decoration: underline;
}

h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}

/* Style du bouton formulaire */
.container_icone {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.icone {
    position: fixed;
    bottom: 10%;
    right: 10%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(45deg, #884928, #ce8c36);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition : all 0.3s ease;
}

.icone:focus {
    outline: none;
}

.icone img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.icone:hover {
    background-color: #777777;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

/* Style du formulaire */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay.hidden {
    display: none;
}

.formContainer {
    max-height: 90vh; 
    overflow-y: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.formContainer h2 {
    font-size: 28px;
    font-weight: bold;
    color: #1E2139;
    text-align: center;
    margin: 10px;
    padding: 5px 0;
}

.formContainer label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.formContainer input,
.formContainer textarea,
.formContainer button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.required {
    color: red;
    font-weight: bold;
}

.success-message {
    display: none;
    margin-top: 20px;
    padding: 10px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: center;
}

.error-message {
    display: none;
    margin-top: 20px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

button[type="submit"], input[type="button"] {
    padding: 10px 20px;     
    font-size: 16px;              
    color: white;               
    background-color: #3498db;  
    border: none;         
    border-radius: 5px;       
    cursor: pointer;         
    transition: all 0.3s ease;  
}

button[type="submit"]:hover, input[type="button"]:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Style des boutons avec ID */
#btn-legal, #btn-copyright, #btn-data {
    background-color: #ce8c36; 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin: 10px 0; 
    width: 250px; 
}

#btn-legal:hover, #btn-copyright:hover, #btn-data:hover {
    background-color: #b76d26;
    transform: translateY(-3px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
}

#legal, #copyright, #data-protection {
    display: none;
    background-color: #1a1a1a; 
    padding: 15px;
    color: #fff; 
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
}

/* Style du pied de page */
footer {
    background-color: #ce8c36;
    color: #fff; 
    text-align: center;
    padding: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#copyright {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ffe7c6; 
    padding-bottom: 10px;
}

.item:last-child {
    border-bottom: none;
}

.item h4 {
    font-size: 16px;
    text-align: center;
    color: #ffe7c6; 
    margin: 10px 0;
}

.item p {
    font-size: 14px;
    color: #fff; 
    line-height: 1.6;
    text-decoration: none;
}

footer a {
    color: #ffe7c6; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #ffffff; 
}


#footer-content section {
    margin-bottom: 20px;
    background-color: #b0742c; 
    padding: 10px;
    border-radius: 8px;
    display:none;
}

#footer-content h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffe7c6; 
}

#footer-content h5 {
    color: #ffe7c6; 
}

.footer-section {
    max-width: 1024px;
}


/* Style du nouveau Pop-up */
#newMusicPopup {
    width: 420px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    flex-direction: column;
}

.popup-content {
    padding: 15px;
    font-size: 16px;
    color: #333333;
    line-height: 1.7;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    color: #1E2139;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #FF6347;
}

#popupNewMusicTitle {
    font-size: 28px;
    font-weight: bold;
    color: #1E2139;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

#popupNewMusicArtist, #popupNewMusicDate, #popupNewMusicFilm {
    font-size: 18px;
    color: #555555;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

#popupNewMusicDescription {
    font-size: 16px;
    color: #555555;
    line-height: 1.6;
    padding-bottom: 10px; 
}

#popupNewMusicLink a {
    color: #1E2139;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

#popupNewMusicLink a:hover {
    color: #FF6347;
    text-decoration: underline;
}


@media (max-width: 1024px) {
    section {
        flex-direction: column;
    }

    section img {
        max-width: 100%;
    }
}


 /* Masquer le pop-up*/
 .hidden {
    display: none;
  }